/*core css nastavenia stranky, ktore idealne nebudem menit*/
.core
{
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 25px !important;
    color: #ffffff;
    background-color: #000000;
    line-height: normal !important; 
    list-style-type: none;
    
}


.header_links
{
  word-spacing: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.core_content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}


/*wrapper sluzi na nastavovanie, ake dlhe slovo sa moze vojst do daneho riadku/stlpcu predtym, ako ho to da do dalsieho riadku/stlpca*/
.wrapper
{
  max-width:400px;
  word-wrap: break-word;
}

/*zazracne fungujuci no spacing css, ktore mi nerozbija pillary, avsak nieje velmi kompatibilny ked sa ho snazim zakomponovat spolu s bootstrap clasami*/
.no-spacing
 {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 25px !important;
    color: #ffffff;
    background-color: #000000;
    line-height: normal !important; 
    
}

.lavica
{
  text-align: left;
}

.pravica
{
  text-align: right;
}

.report-content
{
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.6;
  word-wrap: break-word;
}

.report-image
{
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border: 1px solid #444;
  display: block;
}